:root {
    --name: vellogs;
    --description: Лалала;
    --text-color: #fff;
    --back-color: #fff3;
    --over-color: #fefefe;
    --popup-text-color: #fff;
    --border: none;
    --nacxalka: не работает, идите нахуй;
    --theme-color: #9400d3;
    --domen: vellogs.tk;
}
